*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.1rem;
}

/* POCETAK HERO SEKCIJE */
#hero-section{
    background: url("https://i.pinimg.com/736x/aa/70/bd/aa70bddf588809111aecfa14d3720863.jpg") no-repeat center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#hero-content{
    padding: 50px;
    margin: 0 auto;
    width: 80%;
    font-size: large;
    background-color: rgba(173, 182, 150, 0.5);
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(122, 110, 110, 0.5);
}

h1{
    font-family: "Lavishly Yours", cursive;
    font-size: 5rem;
    color: #edc967d7;
}

/* KRAJ HERO SEKCIJE */

/* POCETAK PROIZVODA */

.nasi-proizvodi-section{
    background-color: #edc967d7;
    max-width: 70%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 5px 20px #6F4D38;
}

h2{
    font-family: "Lavishly Yours", cursive;
    font-size: 3.5rem;
    color: #6F4D38;
}

.proizvodi-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.proizvodi-box img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid #6F4D38;
    display: block; 
    margin: 0 auto;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.proizvodi-box img:hover{
    transform: rotateY(360deg);
}

.proizvodi-box h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    color: #6F4D38;
}

.proizvodi-section h2::after{
    content: "";
    height: 3px;
    width: 60px;
    display: block;
    background-color: #A35864;
}

/* KRAJ PROIZVODA */

/* POCETAK BEST SELLER SEKCIJE */

.best-seller-section{
    background-color: rgba(173, 182, 150, 0.5);
    text-align: center;
    padding: 20px;
}

.best-seller-section h2{
   color: #edc967d7; 
}

.tekst{
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.best-seller-content img{
    margin: 15px;
    height: 50vh;
    border-radius: 20px;
    border: 2px solid rgba(126, 133, 109, 0.267);
    box-shadow: 4px 6px 6px rgba(54, 56, 47, 0.233); 
}

.cena{
    font-size: 1.5rem;
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-top: 7px;
}

.best-seller-section{
    position: relative;
}

.stiker-novo{
    position: absolute;
    top: 20px;
    left: 35vh;
    padding: 5px 10px;
    background-color: #edc967d7;
    color: white;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 3px 6px 7px #aa9049d7;
    transform-origin: top center;
    animation: swing 1.5s infinite linear;
}

@keyframes swing {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(5deg); }
    50%  { transform: rotate(0deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
    
}

/* KRAJ BEST SELLER SEKCIJE */

/* POCETAK O NAMA SEKCIJE */

.o-nama-section{
    background-color: #edc967d7;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 10px 15px 15px rgba(100, 95, 21, 0.5);
}

.o-nama-tekst{
    padding: 40px;
    width: 90%;
    font-size: 1.2rem;
}

.o-nama-slika img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px 30px 30px 0px;
}

/* KRAJ O NAMA SEKCIJE */

/* POCETAK PREPORUKE SEKCIJE */

.preporuke-section{
    background-color: rgba(173, 182, 150, 0.5);
    margin: 40px auto;
    padding: 40px 10%;
}

.preporuke-section h2{
    color: #edc967d7;
}

.preporuke-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.preporuka{
    background-color: beige;
    border-radius: 10px;
    box-shadow: 4px 8px 8px rgb(139, 148, 116, 0.5);
    padding: 20px;
    margin-top: 10px;
    width: 90%;
    opacity: 0;
    animation-fill-mode: forwards;
}

.preporuka:nth-child(1){
    animation: slideInLeft 2s ease forwards;
    animation-delay: 0.2s;
}

.preporuka:nth-child(2){
    animation: slideInRight 2s ease forwards;
    animation-delay: 0.6s;
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.preporuka-footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.preporuka-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.zvezdice{
    font-size: small;
    color: gold;
}

/* KRAJ PREPORUKE SEKCIJE */
