*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.1em;
}

/* POCETAK HERO SEKCIJE */
#hero-section{
    background: url("https://i.pinimg.com/736x/aa/70/bd/aa70bddf588809111aecfa14d3720863.jpg") no-repeat center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#hero-content{
    padding: 50px;
    margin: 0 auto;
    width: 80%;
    font-size: large;
    background-color: rgba(173, 182, 150, 0.5);
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(122, 110, 110, 0.5);
}

h1{
    font-family: "Lavishly Yours", cursive;
    font-size: 5rem;
    color: #edc967d7;
}

/* KRAJ HERO SEKCIJE */

/* POCETAK PROIZVODA */

.nasi-proizvodi-section{
    background-color: #edc967d7;
    max-width: 70%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 5px 20px #6F4D38;
}

h2{
    font-family: "Lavishly Yours", cursive;
    font-size: 3.5rem;
    color: #6F4D38;
}

.proizvodi-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.proizvodi-box img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid #6F4D38;
    display: block; 
    margin: 0 auto;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.proizvodi-box img:hover{
    transform: rotateY(360deg);
}

.proizvodi-box h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    color: #6F4D38;
}

.proizvodi-section h2::after{
    content: "";
    height: 3px;
    width: 60px;
    display: block;
    background-color: #A35864;
}

/* KRAJ UKUSA */
